testParallel-CPAM
testParallel-CPAM-*
testParallel-CPAM-1024
testParallel-CPAM-128
testParallel-CPAM-16
testParallel-CPAM-2048
testParallel-CPAM-256
testParallel-CPAM-32
testParallel-CPAM-4
testParallel-CPAM-512
testParallel-CPAM-64
testParallel-CPAM-8
testParallel-CPAM-Diff
